/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
/* Link buttons style */
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font_family-heading;
  font-size: .9rem;
  padding: $space-unit/4 $space-unit;
  background: $green;
  color: $text-color-light !important;

  &:hover,
  &:focus,
  &:active {
    color: $text-color-light !important;
    background: darken($green, 10);
  }
}

.shop-btn {
  text-align: center;
  margin: auto;
}

.inverse-btn {
  border: 1px solid $text-color-main;
  color: $text-color-main !important;
  background: $white-background;

  &:hover,
  &:focus,
  &:active {
    background: $green;
    color: $text-color-light !important;
    border-color: $green;
  }
}

.adventures-btn {
  margin: $space-unit 0;
  font-size: 1.1rem;
}

.transparent-btn {
  background: transparent;
  border: 1px solid $text-color-light;

  &:hover,
  &:focus,
  &:active {
    background: $green;
    border-color: $green;
  }
}

.read-more {
  &::after {
    content: " \2192";
  }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border: $border_solid;
  font-family: $font_family-default;
  background: lighten($light-grey, 30);
  outline: 0;

  &:focus {
    color: #111;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 80%;
  resize: none;
}

label {
  font-family: $font_family-heading;
  text-transform: uppercase;
}

.required {
  color: $orange;
}

.wpcf7-not-valid-tip {
  text-transform: none;
  font-family: $font_family-default;
}

.search-form {
  fieldset {
    border: 0;
    padding-left: 0;
    margin-left: 0;

    .search-submit {
      display: none;
    }
  }
}