/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  width: 100%;
  z-index: 100;
  position: fixed;
  overflow: hidden;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $site_width;
    margin: auto;
  }
}

/* Logo */

.site-branding {
  width: 50px;
  height: 50px;
  display: inline-block;

  .logo-white {
    width: 50px;
    height: 50px;
    a {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}

.site-branding {
  width: 50px;
  height: 50px;
  display: inline-block;

  .logo-green {
    width: 50px;
    height: 50px;
    display: none;

    a {
      color: $green;
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}

.blog, .logged-in, .admin-bar, .debug-bar-maximized, .customize-support {
  .site-header a {
    color: $green;
  }
  .logo-green {
    display: inline-block;
  }
  .logo-white {
    display: none;
  }
}

.search-field {
  display: none;
}

.search-show {
  display: inline-block;
  transition: 1s linear;
}


.page-template{
  .site-header a{
    color: white;
  }
  .logo-green{
    display: none;
  }
  .logo-white{
    display: inline-block;
  }
}