// Base

$space-unit: 1.5rem;
$site_width: 1120px;

// Main Colors

$light-grey: #a1a1a1;
$dark-grey: #808080;
$yellow: #f0e4d1;
$green: #248A83;
$purple: #2f1339;
$orange: #d99054;

//Text Colors

$text-color-main: #404040;
$text-color-light: #fff;
$white-background: #fff;

// Background Colors

$color_background-hr: #ccc;
$color_background-pre: #eee;
$color_background-ins: #fff9c0;
$color_border-abbr: #666;
$color_background: #f1f1f1;

// Link Colors
$color_text: #21759b;
$color_link: $green;
$color_link-visited: $green;
$color_link-hover: $purple;

$color__background-header: rgba(255, 255, 255, 0.8);

// Boarder Styles

$border_solid: 1px solid #e1e1e1;
$border_dashed: 1px dashed #c8c8c8;
$border_dotted: 1.2px dotted $purple;

$color__heading-footer: $orange;

// Typography

$primary-font: sans-serif;
$font_code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre: "Courier 10 Pitch", Courier, monospace;
$font_line-height-body: 1.75;
$font_line-height-pre: 1.6;

// Font Size

$primary-size: 16px;
$h1-size: 2.5rem;
$h2-size: 2rem;

$font_family-heading: Novecento, sans-serif;
$font_family-default: Merriweather, serif;