.home-page {

  .journal-entry-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 1120px;
    margin: auto;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    margin-top: $space-unit * 2;
    text-transform: uppercase;
  }

  .product-category-entry {
    text-align: center;
    padding: $space-unit;
    border-top-width: 4px;
    img {
      height: 70px;
      width: 70px;
    }

    &:hover {
      border-color: $orange;
    }

  }
}

.hero-image, .hero-home {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../../source/images/home-hero.jpg") no-repeat center;
  background-size: cover;
}
