.home-page {
  .journal-entry-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    margin-top: $space-unit * 2;
    text-transform: uppercase;
  }

  .product-category-entry {
    text-align: center;
    padding: $space-unit;
    border-top-width: 4px;

    &:hover {
      border-color: $orange;
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}



.hero-image, .hero-home{
  background:linear-gradient(to bottom, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.4) 100%), url("../../source/images/home-hero.jpg") no-repeat center;
  background-size: cover;
}